{% extends "base.html" %}
{% block javascript %}
<script type="text/javascript"
            src="{{ url_for('static', filename='adventure_items.js') }}"></script>
{% endblock %}
{% block head %}
{% endblock %}
{% block title %}Add Adventure{% endblock %}
{% block content %}

<form id="form" action="/add_adventure_submit" method="POST" onsubmit="return confirm('Please ensure all adventure stats are correct! You will have to edit players manually to fix broken stats.');">
  <div class="form-group container" style="max-width:600px;">
    <h1>Add Adventure</h1>

    <div class="ettrow required">
    <label for="gm" class="column required">GM:</label>
    <select class="form-control column" id="gm" name="gm">
      {% for player in players %}
      <option>{{ player[0] }} </option>
      {% endfor %}
    </select>
    </div>

    <div class="ettrow required">
    <label for="gamename" class="column">Game Name:</label>
    <input class="form-control column" name="gameName" id="gameName" maxlength="64"
           minlength="2" placeholder="Troubles in La Mulana Part 1" required>
    </div>
    <div class="ettrow required">
      <label for="date" class="column">Date:</label>
      <input class="form-control column" name="date" id="date" type="date" required>
    </div>
    <div class="ettrow required">
    <label for="time" class="column">Length (Hours):</label>
      <input class="form-control column" step="0.01" type="number" id="time" name="time"
           min="0" max="100" placeholder="4" required>
      </div>
    <div class="ettrow">
    <label for="comments" class="small_column">Comments:</label>
    <textarea class="form-control big_column" rows="3" id="comments" name="comments"></textarea>
      </div>

    <div class="ettrow">
    <label for="itemsNr" class="column">Number of Items:</label>
    <input class="form-control column" step="1" type="number" id="itemsNr" name="itemsNr"
           min="0" max="20" placeholder="0">
    </div>
    <div class="ettrow">
    <div class="column"></div>
    <a style="margin:10px 0px;" class="btn btn-primary column" href="#" id="generate-items" onclick="addItems()">Generate Items</a>
    </div>
    <div id="item-container"></div>
    <div class="ettrow required">
    <label for="playersNr" class="column">Number of Players:</label>
    <input class="form-control column" step="1" type="number" id="playersNr" name="playersNr"
           min="1" max="8" placeholder="1" required>
      </div>
    <div class="ettrow">
    <div class="column"></div>
    <a style="margin:10px 0px;" class="btn btn-primary column" href="#" id="generate-players"
       onclick="addPlayers({{ characters }})">Generate Players</a>
    </div>

    <br>
    <div id="player-container"></div>
    <div class="ettrow">
      <div class="column"></div>
      <button id="submit_fake" type="button" onclick="return DryRun();" class="btn btn-success column">Dry Run</button>
      </div>
  <br>
    <!-- Populated by JS to contain the results of the dry run -->
    <div id="dryresults">

    </div>

  <br>
  <div class="ettrow">
    <div class="column">
      <label><input name="submitonly" id="submitonly" type="checkbox" value="X" >Disable Automation</label>
      </div>
    <button id="submit_real" type="submit" class="btn btn-primary column">Submit Adventure</button>
  </div>
  </div>

</form>

{% endblock %}