{% extends "base.html" %}
{% block title %}Add Character{% endblock %}
{% block content %}
<form method="POST">
    <div class="form-group container" style="max-width:600px;">
        <h1>Add Character</h1>

        <div class="ettrow required">
        <label class="column" for="playerName">Player Name:</label>
        <select class="form-control column" id="playerName" name="playerName">
            {% for player in players %}
            <option>{{ player[0] }} </option>
            {% endfor %}
        </select>
        </div>

        <div class="ettrow required">
        <label for="name" class="column">Character Name:</label>
        <input class="form-control column" name="name" id="name" maxlength="32"
               minlength="2" placeholder="Puss in Boots" required>
        </div>
        <div class="ettrow required">
        <label for="ancestry" class="column">Ancestry:</label>
        <input class="form-control column" name="ancestry" id="ancestry" maxlength="32"
               minlength="2" placeholder="Catfolk" required>
        </div>
        <div class="ettrow required">
        <label for="heritage" class="column">Heritage:</label>
        <input class="form-control column" name="heritage" id="heritage" maxlength="32"
               minlength="2" placeholder="Hunting" required>
        </div>
        <div class="ettrow required">
        <label for="background" class="column">Background:</label>
        <input class="form-control column" name="background" id="background" maxlength="32"
               minlength="2" placeholder="Entertainer" required>
        </div>
        <div class="ettrow required">
        <label for="class" class="column">Class:</label>
        <input class="form-control column" name="class" id="class" maxlength="32"
               minlength="2" placeholder="Swashbuckler" required>
        </div>
        <div class="ettrow">
        <label for="subclass" class="column">Subclass:</label>
        <input class="form-control column" name="subclass" id="subclass" maxlength="32"
               minlength="2" placeholder="Battledancer">
        </div>
        <div class="ettrow">
        <label for="pathbuilder" class="column">Pathbuilder URL:</label>
        <input class="form-control column" name="pathbuilder" id="pathbuilder"
               type="url" placeholder="https://pathbuilder2e.com/json.php?id=123456">
        </div>
        <div class="ettrow required">
        <label for="discord" class="column">Discord Link:</label>
        <input class="form-control column" name="discord" id="discord"
               type="url" placeholder="https://discord.com/channels/870925179570753616/1066862081778913402">
        </div>
        <div class="ettrow required">
        <label for="picture" class="column">Picture Link:</label>
        <input class="form-control column" name="picture" id="picture"
               type="url" placeholder="https://i.imgur.com/OE8PK03.jpg">
        </div>
        <div class="ettrow">
        <label for="ironman" class="column">Ironman Mode:</label>
        <select class="form-control column" id="ironman" name="ironman" required>
            <option value="0">None</option>
            <option value="1">Permadeath (A)</option>
            <option value="2">No Community Service (B)</option>
            <option value="3">Longer Community Service (C)</option>
        </select>
        </div>
        <div class="ettrow">
        <label for="home" class="column">Home:</label>
        <input class="form-control column" name="home" id="home" maxlength="32"
               minlength="2" placeholder="Tavern Region">
        </div>
        <div class="ettrow">
        <label for="pdf" class="column">PDF URL:</label>
        <input class="form-control column" name="pdf" id="pdf"
               type="url" placeholder="https://example.com/my_pdf.pdf">
        </div>
        <div class="ettrow">
        <label for="fvtt" class="column">FVTT URL:</label>
        <input class="form-control column" name="fvtt" id="fvtt"
               type="url" placeholder="https://example.com/my_fvtt.json">
        </div>
        <div class="ettrow">
        <label for="xp" class="column">Starting XP</label>
        <input class="form-control column" step="0.01" type="number" id="xp" name="xp" min="0" max="8000" placeholder="0">
        </div>
        <div class="ettrow">
        <label for="gold" class="column">Starting Gold</label>
        <input class="form-control column" step="0.01" type="number" id="gold" name="gold" min="0" max="8000" placeholder="15">
        </div>

    </div>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Character</button>
    </div>
</form>

{% endblock %}