{% extends "base.html" %}
{% block title %}Adventures{% endblock %}
{% block content %}
<h1>Adventure Sessions</h1>
<br/>
<table id="data" class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Run By</th>
        <th scope="col">Length (H)</th>
        <th scope="col">Level</th>
        <th width="5%" scope="col"></th>
        {% if user.is_authenticated %}
        <th width="5%" scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% if user.is_authenticated %}
<form action="/add_adventure">
    <button type="submit" class="btn btn-primary">Add Adventure Session</button>
</form>
{% endif %}
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/adventures',
        serverSide: true,
        columns: [
          {data: 'Name'},
          {data: 'Date'},
          {data: 'GM'},
          {data: 'Time'},
          {data: 'GameLevel'},
          {defaultContent: '<button id="view" class="btn btn-primary">View</button>', orderable: false}
          {% if user.is_authenticated %},
          {defaultContent: '<button id="edit" type="submit" class="btn btn-danger">Edit</button>', orderable: false}
          {% endif %}
        ],
      });
    });
  </script>
{% endblock %}