{% extends "base.html" %}
{% block title %}Adventures{% endblock %}
{% block content %}
<h1>Adventure Sessions</h1>
<br/>
<table id="data" class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Run By</th>
        <th scope="col">Length (H)</th>
        <th scope="col">Level</th>
        {% if user.is_authenticated %}
        <th width="5%" scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% if user.is_authenticated %}
<form action="/add_adventure">
    <button type="submit" class="btn btn-primary">Add Adventure Session</button>
</form>
{% endif %}
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        ajax: '/api/adventures',
        serverSide: true,
        columns: [
          {data: 'Name'},
          {data: 'Date'},
          {data: 'GM'},
          {data: 'Time'},
          {data: 'GameLevel'}
          {% if user.is_authenticated %},
          {defaultContent: '<button id="edit" type="submit" class="btn btn-danger">Edit</button>', orderable: false}
          {% endif %}
        ],
      });

      $('#data tbody').on('click', 'button', function () {
        var data = table.row($(this).parents('tr')).data();
        var f = document.createElement('form');
        if (this.id == "view") {
          f.action='/view_adventure';
        } else {
          f.action='/edit_adventure';
        }
        f.method='POST';
        f.target='_blank';
        var i=document.createElement('input');
        i.type='hidden';
        i.name='date';
        i.id='date';
        i.value=data.Date;
        var j=document.createElement('input');
        j.type='hidden';
        j.name='Name';
        j.id='Name';
        j.value=data.Name;
        f.appendChild(i);
        f.appendChild(j);

        document.body.appendChild(f);
        f.submit();
      });
    });


  </script>
{% endblock %}