{% extends "base.html" %}
{% block title %}Characters{% endblock %}
{% block content %}
<h1>Character List</h1>
<br/>
<table id="data" class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Player</th>
        <th scope="col">Character</th>
        <th scope="col">Ancestry</th>
        <th scope="col">Class</th>
        <th scope="col">XP</th>
        <th scope="col">Level</th>
        <th scope="col">Total Gold</th>
        <th scope="col">Gold</th>
        <th width="5%" scope="col"></th>
        {% if user.is_authenticated %}
        <th width="5%" scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody> </tbody>
</table>
{% if user.is_authenticated %}
<form action="/add_character">
    <button type="submit" class="btn btn-primary">Add Character</button>
</form>
{% endif %}
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        ajax: '/api/characters',
        serverSide: true,
        columns: [
          {data: 'PlayerName'},
          {data: 'Name'},
          {data: 'Ancestry'},
          {data: 'Class'},
          {data: 'XP'},
          {data: 'Level', orderable: false},
          {data: 'CurrentGold'},
          {data: 'ExpectedGold'},
          {defaultContent: '<button id="view" class="btn btn-primary">View</button>', orderable: false}
          {% if user.is_authenticated %},
          {defaultContent: '<button id="edit" type="submit" class="btn btn-danger">Edit</button>', orderable: false}
          {% endif %}
        ],
      });

      $('#data tbody').on('click', 'button', function () {
        var data = table.row($(this).parents('tr')).data();
        var f = document.createElement('form');
        if (this.id == "view") {
          f.action='/view_character';
        } else {
          f.action='/edit_character';
        }
        f.method='POST';
        f.target='_blank';
        var i=document.createElement('input');
        i.type='hidden';
        i.name='Name';
        i.id='Name';
        i.value=data.Name;
        var j=document.createElement('input');
        j.type='hidden';
        j.name='PlayerName';
        j.id='PlayerName';
        j.value=data.PlayerName;
        f.appendChild(i);
        f.appendChild(j);

        document.body.appendChild(f);
        f.submit();
      });

    });
  </script>
{% endblock %}