{% extends "base.html" %}
{% block title %}Players{% endblock %}
{% block content %}
<h1>Character List</h1>
<br/>
<table id="data" class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Player</th>
        <th scope="col">Character</th>
        <th scope="col">Ancestry</th>
        <th scope="col">Class</th>
        <th scope="col">XP</th>
        <th scope="col">Gold</th>
        <th width="5%" scope="col"></th>
        {% if user.is_authenticated %}
        <th width="5%" scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody> </tbody>
</table>
{% if user.is_authenticated %}
<form action="/add_character">
    <button type="submit" class="btn btn-primary">Add Character</button>
</form>
{% endif %}
{% endblock %}
{% block javascript %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/characters',
        serverSide: true,
        columns: [
          {data: 'PlayerName'},
          {data: 'Name'},
          {data: 'Ancestry'},
          {data: 'Class'},
          {data: 'XP'},
          {data: 'CurrentGold'},
          {defaultContent: '<button id="view" class="btn btn-primary">View</button>', orderable: false}
          {% if user.is_authenticated %},
          {defaultContent: '<button id="edit" type="submit" class="btn btn-danger">Edit</button>', orderable: false}
          {% endif %}
        ],
      });
    });
  </script>
{% endblock %}