{% extends "base.html" %}
{% block title %}Edit Character{% endblock %}
{% block javascript %}
<script type="text/javascript"
        src="{{ url_for('static', filename='edit.js') }}"></script>
{% endblock %}
{% block content %}
<div class="ettrow">
    <h3 class="column">{{ c[0] }} - {{ c[1] }} - {{ e[0] }}</h3>
    <div class="column ettrow">
        <div class="column">
            <label for="show_danger">Show Adjustments: </label>
        </div>
        <div class="column">
            <input id="show_danger" {% if danger %} checked {% endif %} name="show_danger" type="checkbox" onclick="showDanger();">
        </div>
    </div>
</div>
<br/>
        <form class="danger" action="/api/edit_character_names" method="POST"
              onsubmit="return confirm('Are you sure you want to update character name/ownership?');">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <input type="hidden" name="danger" value="X">
            <div class="ettrow">
                <label for="PlayerName2" class="column">Player:</label>
                <select class="form-control column" id="PlayerName2" name="PlayerName2">
                    <option selected>{{ c[0] }}</option>
                    {% for player in players %}
                    <option>{{ player[0] }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="ettrow">
                <label for="Name2" class="column">Name:</label>
                <input class="form-control column" name="Name2" id="Name2" maxlength="32"
                       minlength="2" value="{{ c[1] }}" required>
            </div>
            <div class="ettrow">
                <div class="column"></div>
                <button type="submit" class="btn btn-danger column">Update Player Information</button>
            </div>
            <br>
        </form>
        <form action="/api/edit_character_core" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <input type="hidden" name="danger" value="X">
            <div class="ettrow">
                <label for="ancestry" class="column">Ancestry:</label>
                <input class="form-control column" name="ancestry" id="ancestry" maxlength="32"
                       minlength="2" value="{{ c[2] }}" required>
            </div>
            <div class="ettrow">
                <label for="heritage" class="column">Heritage:</label>
                <input class="form-control column" name="heritage" id="heritage" maxlength="32"
                       minlength="2" value="{{ c[5] }}" required>
            </div>
            <div class="ettrow">
                <label for="background" class="column">Background:</label>
                <input class="form-control column" name="background" id="background" maxlength="32"
                       minlength="2" value="{{ c[3] }}" required>
            </div>
            <div class="ettrow">
                <label for="class" class="column">Class:</label>
                <input class="form-control column" name="class" id="class" maxlength="32"
                       minlength="2" value="{{ c[4] }}" required>
            </div>
            <div class="ettrow">
            <label for="subclass" class="column">Subclass:</label>
            <input class="form-control column" name="subclass" id="subclass" maxlength="32"
               minlength="2" value="{{ c[15] }}">
            </div>
            <div class="ettrow">
            <label for="archetype" class="column">First Archetype:</label>
            <input class="form-control column" name="archetype" id="archetype" maxlength="32"
               minlength="2" value="{{ c[19] }}">
            </div>
            <div class="ettrow">
                <label for="home" class="column">Home:</label>
                <input class="form-control column" name="home" id="home" maxlength="32"
                       minlength="2" value="{{ c[8] }}" required>
            </div>
            <div class="ettrow">
                <label for="comments" class="small_column">Comments:</label>
                <textarea class="form-control big_column" rows="3" id="comments" name="comments">{{ c[10] }}</textarea>
            </div>

            <div class="ettrow">
                <div class="column"></div>
                <button type="submit" class="btn btn-warning column">Update Core information</button>
            </div>
            <br>
        </form>
        <form action="/api/edit_character_pdfurl" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <div class="ettrow">
                <label for="pdfurl" class="small_column">PDF URL:</label>
                <input class="form-control big_column" name="url" id="pdfurl"
                       type="url" placeholder="https://example.com" value="{{ c[11] }}">
            </div>
            <div class="ettrow">
                <div class="small_column"></div>
                <button type="submit" class="btn btn-success big_column">Update/Add PDF URL</button>
            </div>
            <br>
        </form>
        <form action="/api/edit_character_fvtturl" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <div class="ettrow">
                <label for="fvtturl" class="small_column">FVTT json URL:</label>
                <input class="form-control big_column" name="url" id="fvtturl"
                       type="url" placeholder="https://example.com" value="{{ c[12] }}">
            </div>
            <div class="ettrow">
                <div class="small_column"></div>
                <button type="submit" class="btn btn-success big_column">Update/Add FVTT URL</button>
            </div>
            <br>
        </form>
        <form class="danger" action="/api/edit_character_pburl" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <input type="hidden" name="danger" value="X">
            <div class="ettrow">
                <label for="url" class="small_column">Pathbuilder URL:</label>
                <input class="form-control big_column" name="url" id="url"
                       type="url" value="{{ c[9] }}">
            </div>
            <div class="ettrow">
                <label for="discord" class="small_column">Discord URL:</label>
                <input class="form-control big_column" name="discord" id="discord"
                       type="url" value="{{ c[16] }}">
            </div>
            <div class="ettrow">
                <label for="picture" class="small_column">Picture URL:</label>
                <input class="form-control big_column" name="picture" id="picture"
                       type="url" value="{{ c[17] }}">
            </div>
            <div class="ettrow">
                <div class="small_column"></div>
                <button type="submit" class="btn btn-warning big_column">Update URLs</button>
            </div>
            <br>
        </form>
        <div class="ettrow">
                <label for="t_rares" class="column">Total Rare Unlocks:</label>
                <input class="form-control column" name="t_rares" id="t_rares" step="1"
                       type="number" value="{{ e[0] }}" readonly>
        </div>
        <div class="ettrow">
                <label for="rares_used" class="column">Rare Unlocks Used:</label>
                <input class="form-control column" step="1" type="number" id="rares_used" name="rares_used"
                       min="0" value="{{ e[5] }}" readonly>
        </div>
        <form action="/api/edit_character_add_unlock" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <div class="ettrow">
                <label for="buy_name" class="column">Rare to Unlock:</label>
                <input class="form-control column" id="buy_name" name="buy_name" maxlength="32"
                       minlength="2" required>
            </div>
            <div class="ettrow">
                <div class="column"></div>
                <button type="submit" class="btn btn-success column">Add Rare</button>
            </div>
            <br>
        </form>
        <form class="danger" action="/api/edit_character_remove_unlock" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <input type="hidden" name="danger" value="X">
            <div class="ettrow">
                <label for="i_unlocks" class="column">Rare Unlocks:</label>
                <select class="form-control column" name="i_unlocks" id="i_unlocks" step="1">
                    {% for i in e[4] %}
                    <option value="{{ i.name }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ettrow">
                <div class="column"></div>
                <button type="submit" class="btn btn-warning column">Remove Unlocked Rare</button>
            </div>
            <br>
        </form>
        <form action="/api/edit_character_karmabuy" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <div class="ettrow">
                <label for="karma_1" class="column">Current Karma:</label>
                <input class="form-control column" name="karma" id="karma_1" step="1"
                       type="number" value="{{ e[2] }}" readonly>
            </div>
            <div class="ettrow">
                <label for="k_buy" class="column">Reward to Buy:</label>
                <select class="form-control column" name="k_buy" id="k_buy" step="1">
                    {% for i in e[3] %}
                    <option value="{{ i.name }}">{{ i.name }} - {{ i.level }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ettrow">
                <label for="k_qty" class="column">Quantity/Level to buy:</label>
                <input class="form-control column" step="1" type="number" id="k_qty" name="k_qty"
                       min="1" required>
            </div>
            <div class="ettrow">
                <div class="column"></div>
                <button type="submit" class="btn btn-success column">Buy Karma Reward</button>
            </div>
            <br>
        </form>
        <form class="danger" action="/api/edit_character_karmaadd" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <input type="hidden" name="danger" value="X">
            <div class="ettrow">
                <label for="karma" class="column">Current Karma:</label>
                <input class="form-control column" name="karma" id="karma" step="1"
                       type="number" value="{{ e[2] }}">
            </div>
            <div class="ettrow">
                <div class="column"></div>
                <button type="submit" class="btn btn-warning column">Modify Karma</button>
            </div>
            <br>
        </form>
        <form class="danger" action="/api/edit_character_karmaloss" method="POST">
            <input type="hidden" name="PlayerName" value="{{ c[0] }}">
            <input type="hidden" name="Name" value="{{ c[1] }}">
            <input type="hidden" name="danger" value="X">
            <div class="ettrow">
                <label for="k_unlocks" class="column">Karma Unlocks:</label>
                <select class="form-control column" name="k_unlocks" id="k_unlocks">
                    {% for i in e[1] %}
                    <option value="{{ i.name }}">{{ i.name }} - {{ i.quantity }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ettrow">
                <label for="remove_num" class="column">Number to remove:</label>
                <input class="form-control column" step="1" type="number" id="remove_num" name="remove_num"
                       min="1" required>
            </div>
            <div class="ettrow">
                <div class="column"></div>
                <button type="submit" class="btn btn-warning column">Remove Karma Reward</button>
            </div>
            <br>
        </form>
<br>
<br>
<form class="danger" action="/api/edit_character_delete" method="POST"
      onsubmit="return confirm('Are you sure you want to delete this character? THIS CANNOT BE REVERTED.');">
    <input type="hidden" name="PlayerName" value="{{ c[0] }}">
    <input type="hidden" name="Name" value="{{ c[1] }}">
    <input type="hidden" name="danger" value="X">
    <div class="ettrow">
        <div class="column"></div>
        <button type="submit" class="btn btn-danger column">Delete Character</button>
    </div>
    <br>
</form>

{% endblock %}
