{% extends "base.html" %}
{% block title %}Players{% endblock %}
{% block content %}
<h1>Players</h1>
<br/>
<table id="data" class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Player</th>
        <th scope="col">Karma</th>
        <th width="5%" scope="col"></th>
        {% if user.is_authenticated %}
        <th width="5%" scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody> </tbody>
</table>

<br/>
{% if user.is_authenticated %}
<form action="/add_player">
    <button type="submit" class="btn btn-primary">Add Player</button>
</form>
{% endif %}
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        ajax: '/api/players',
        serverSide: true,
        columns: [
          {data: 'PlayerName'},
          {data: 'Karma'},
          {defaultContent: '<button id="view" class="btn btn-primary">View</button>', orderable: false}
          {% if user.is_authenticated %},
          {defaultContent: '<button id="edit" type="submit" class="btn btn-danger">Edit</button>', orderable: false}
          {% endif %}
        ],
      });

      $('#data tbody').on('click', 'button', function () {
        var data = table.row($(this).parents('tr')).data();
        var f = document.createElement('form');
        if (this.id == "view") {
          f.action='/view_player';
        } else {
          f.action='/edit_player';
        }
        f.method='POST';
        f.target='_blank';
        var j=document.createElement('input');
        j.type='hidden';
        j.name='PlayerName';
        j.id='PlayerName';
        j.value=data.PlayerName;
        f.appendChild(j);
        document.body.appendChild(f);
        f.submit();
      });

    });
  </script>
{% endblock %}