{% extends "base.html" %}
{% block title %}View Character{% endblock %}
{% block javascript %}
<script type="text/javascript">
    var fvtts = {{ f|tojson }};
    var pdfs = {{ p|tojson }};
</script>
<script type="text/javascript"
        src="{{ url_for('static', filename='view_char.js') }}"></script>
{% endblock %}
{% block content %}
<h3 class="column">{{ c[0] }} - {{ c[1] }}</h3>
<br>

<div class="ettrow">
    <!-- left side -->
    <div class="form-group container" style="max-width:800px;flex:47.5%;">
        <div class="ettrow">
            <label for="t_rares" class="column">Total Rare Unlocks:</label>
            <input class="form-control column" name="t_rares" id="t_rares" step="1"
                   type="number" value="{{ e[3] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="rares_used" class="column">Rare Unlocks Used:</label>
            <input class="form-control column" step="1" type="number" id="rares_used" name="rares_used"
                   min="0" value="{{ e[2] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="c_gold" class="column">Current Gold:</label>
            <input class="form-control column" id="c_gold" name="gold" step="0.01" value="{{ c[16] }}" type="number" readonly>
        </div>
        <div class="ettrow">
            <label for="inventory" class="column">Current Inventory:</label>
            <select multiple size="6" class="form-control column" name="inventory" id="inventory" readonly>
                {% for i in e[8] %}
                <option value="{{ i.name }}">{% if i.quantity > 1 %}{{ i.quantity }}{% endif %}
                    {{ i.name }} - {{ i.level }} - {{ i.cost }}gp</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="ettrow">
            <label for="ancestry" class="column">Ancestry:</label>
            <input class="form-control column" name="ancestry" id="ancestry" value="{{ c[2] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="heritage" class="column">Heritage:</label>
            <input class="form-control column" name="heritage" id="heritage" value="{{ c[5] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="background" class="column">Background:</label>
            <input class="form-control column" name="background" id="background" value="{{ c[3] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="class" class="column">Class:</label>
            <input class="form-control column" name="class" id="class" value="{{ c[4] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="subclass" class="column">Subclass:</label>
            <input class="form-control column" name="subclass" id="subclass" value="{{ c[22] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="home" class="column">Home:</label>
            <input class="form-control column" name="home" id="home" value="{{ c[8] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="ironman" class="column">Ironman Mode:</label>
            <input class="form-control column" name="ironman" id="ironman" readonly
                   {% if c[20] == 0 %}value="None"{% endif %} {% if c[20] == 1 %}value="Permadeath (A)"{% endif %}
                   {% if c[20] == 2 %}value="No Community Service (B)"{% endif %} {% if c[20] == 3 %}value="Longer Community Service (C)"{% endif %}>
        </div>
        <div class="ettrow">
            <label for="comments" class="small_column">Comments:</label>
            <textarea class="form-control big_column" rows="3" id="comments" name="comments" readonly>{{ c[10] }}</textarea>
        </div>
    </div>
    <!-- Padding -->
    <div style="flex:5%;"></div>
    <!-- right side -->
    <div class="form-group container" style="max-width:800px;flex:47.5%;">

        <div class="ettrow">
            <label for="karma" class="column">Current Karma:</label>
            <input class="form-control column" name="karma" id="karma"
                   type="number" value="{{ e[5] }}" readonly>
        </div>

        <div class="ettrow">
            <label for="level_2" class="column">Current Level:</label>
            <input class="form-control column" type="number" id="level_2" name="level"
                   value="{{ e[0] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="XP" class="column">XP:</label>
            <input class="form-control column" type="number" id="XP" name="XP" value="{{ c[14] }}" readonly>
        </div>
        <div class="ettrow">
            <label for="e_gold" class="column">Expected Gold:</label>
            <input class="form-control column" name="e_gold" id="e_gold"
                   type="number" value="{{ c[15] }}" readonly>
        </div>


        <h3>FVTT Files By Level:</h3>
        <!-- This gets populated with the fvtt link buttons by view_char.js -->
        <div name="fvtt-container" id="fvtt-container">
        </div>

        <h3>PDF Files By Level:</h3>
        <!-- This gets populated with the PDF link buttons by view_char.js -->
        <div name="pdf-container" id="pdf-container">
        </div>

        <a class="btn btn-primary" href="{{ c[9] }}" target="_blank">Pathbuilder / Wanderers Guide</a>
        <br>
        <a class="btn btn-primary" href="{{ c[23] }}" target="_blank">Discord Link</a>
        <br>
        <a class="btn btn-primary" href="{{ c[24] }}" target="_blank">Character Image</a>

    </div>

</div>

{% endblock %}