{% extends "base.html" %}
{% block title %}View Character{% endblock %}
{% block javascript %}
<script type="text/javascript"
        src="{{ url_for('static', filename='view_char.js') }}"></script>
{% endblock %}
{% block content %}
<br>

<div class="container" style="max-width:600px;">
    <h3 class="column">{{ c[0] }} - {{ c[1] }}</h3>
    <br>
    <div class="ettrow">
        <div class="column">
            <a class="btn {% if c[9] %}btn-primary{% else %}btn-danger{% endif %}" href="{{ c[9] }}" target="_blank">Pathbuilder / Wanderers Guide</a>
        </div>
    </div>
    <div class="ettrow">
        <div class="column">
            <a class="btn btn-primary" href="{{ c[16] }}" target="_blank">Discord Link</a>
        </div>
        <div class="column">
            <a class="btn btn-primary column" href="{{ c[17] }}" target="_blank">Character Image</a>
        </div>
    </div>
    <br>
    <div class="ettrow">
        <div class="column">
            <a class="btn {% if c[12] %}btn-primary{% else %}btn-danger{% endif %}" href="{{ c[12] }}" target="_blank">FVTT File</a>

        </div>
        <div class="column">
            <a class="btn {% if c[11] %}btn-primary{% else %}btn-danger{% endif %}" href="{{ c[11] }}" target="_blank">PDF File</a>
        </div>
    </div>
    <br>

    <div class="ettrow">
        <label for="ancestry" class="column">Ancestry:</label>
        <input class="form-control column" name="ancestry" id="ancestry" value="{{ c[2] }}" readonly>
    </div>
    <div class="ettrow">
        <label for="heritage" class="column">Heritage:</label>
        <input class="form-control column" name="heritage" id="heritage" value="{{ c[5] }}" readonly>
    </div>
    <div class="ettrow">
        <label for="background" class="column">Background:</label>
        <input class="form-control column" name="background" id="background" value="{{ c[3] }}" readonly>
    </div>
    <div class="ettrow">
        <label for="class" class="column">Class:</label>
        <input class="form-control column" name="class" id="class" value="{{ c[4] }}" readonly>
    </div>
    <div class="ettrow">
        <label for="subclass" class="column">Subclass:</label>
        <input class="form-control column" name="subclass" id="subclass" value="{{ c[15] }}" readonly>
    </div>
    <div class="ettrow">
        <label for="home" class="column">Home:</label>
        <input class="form-control column" name="home" id="home" value="{{ c[8] }}" readonly>
    </div>
    <div class="ettrow">
        <label for="comments" class="small_column">Comments:</label>
        <textarea class="form-control big_column" rows="3" id="comments" name="comments" readonly>{{ c[10] }}</textarea>
    </div>

    <div class="ettrow">
        <label for="t_rares" class="column">Rare Unlocks Available:</label>
        <input class="form-control column" name="t_rares" id="t_rares" step="1"
               type="number" value="{{ e[0] }}" readonly>
    </div>
    <div class="ettrow">
        <label for="rares_used" class="column">Rare Unlocks Used:</label>
        <input class="form-control column" step="1" type="number" id="rares_used" name="rares_used"
               min="0" value="{{ e[5] }}" readonly>
    </div>


</div>

{% endblock %}