.ettrow {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.halfrow {
display: flex;

}

.column {
  flex: 50%;
  line-height: 30px;
}

.big_column {
  flex: 75%;
  line-height: 30px;
}

.small_column {
  flex: 25%;
  line-height: 30px;
}

.required label {
    font-weight: bold;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

.cb-danger {
    accent-color: red;
}